.App {
  text-align: left;
  /* background-color: #3e2645; */
}

.containerLogin {
  background-image: url(images/FondoTestimonio\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;

}

/* .logo{
  display: flex;
} */

.containerstart{
  display: flex;
  align-items: center;
  flex-direction: column; 

}

.boxForm{
  background-color: white;
  border-radius: 0.5rem;
  
  margin: 10rem;
}

.App-logo {
  height: 40px;
}

.result {
  height: 60px;
  background-color: #bbb;
}

.result p {
  font-size: 40px;
  font-family: "VT323", monospace;
  margin: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  border: thin solid gray;
}

.card-wrapper {
  width: 33.33%;
  display: flex;
  background: #e0e0ff;
}

.newMessageForm {
  color: white;
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card div:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card div:nth-child(2) {
  flex-grow: 2;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.calculatorContainer {
  margin: 10px;
  width: 540px;
}

.appMargin {
  margin: 10px;
}

.chatboxMessagesContainer {
  margin: 10px;
  height: 70vh;
  overflow: scroll;
}
.userName {
  display: none;
}